.filtro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

  }
  
  .cardsProduct {
    width: 100% !important;
    text-align: center; 
  }
  
  .cardsProduct a {
    display: block;
    width: 100% !important;
  }