nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px 30px;
  background-color: #cfcfcf;
  color: #171717;
}

nav .menu {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
}

nav .menu ul {
  display: flex;
  justify-content: center; /* esto centrará horizontalmente los contenidos de la lista */
  align-items: center; /* esto centrará verticalmente los contenidos de la lista */
  padding: 0;
  list-style: none;
  margin-left: 40px;
}

nav .logo {
  width:300px;
  height: auto;
  margin-right: auto;
}



nav .menu ul .li {
  margin-right: 30px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.2vw;
}

nav .menu ul .li:hover {
  color: #FF5370;
}

nav .filtro-container {
margin-right: 120px;
  padding: 20px;
  transition:  1s ease;
}

nav .filtro-activo {
  display: block;
  transition:  1s ease;
}

nav .menu-3 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.cart-icon img {
  width: 30px;
  height: 30px;
}

.cart-quantity {
  font-size: 18px;  
  font-weight: bold;

}
